img {
    width: 50%;
    height: auto;
}

.bgBlue {
    background-color: #007bff;
}

.untilBottom {
    height:300%; 
    width: 15%;
    overflow-x: auto;
    min-width: 200px;
}

#homeButton {    
    width: 100%;
    height: auto;
    max-width: 20px;
}

#profilePicture {
    width: 70%;
    height:auto;
    margin-left:17%;
}

.socMed {
    width: 25%;
    height: auto;
    float:left;
    margin-left:15%;
    margin-right: 0%;
}

#socMedRow {
    display:inline;
}

#facebook {

}

#github {
    margin-top: 2%;
}

#textSegment {
    word-wrap: break-word;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1%;
}

#textSegmenthalf {
    word-wrap: break-word;
    width: 40%;
    padding-left: 1%;
    padding-top: 1%;
}

#block_container
{
    display: flex;
    text-align:center;
}

#bloc1, #textSegment
{
    display: flex;
}

.smallImg {
    width: 100%;
    margin:1%;
}

@media only screen and (max-width: 1000px) {
    .untilBottom {
        display: none;
    }
    #textSegment {
        width: 100%;
    }
}
