{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'lab_1/style.css' %}">


<html>
<head>
</head>
<body style = "font-family : CamigoCode">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style = "border-bottom: 3px solid rgba(255,255,255,.5);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><img src="{% static "lab_1/images/home.png" %}" alt="Home Navigation" id = "homeButton"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/education/">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/experience/">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/skill/">Skill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/project/">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register/">Register Your Account</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="column bgBlue untilBottom" style = "border-right: 3px solid rgba(255,255,255,.5);">
    <div class="row">
    <img src = "{% static "lab_1/images/profilePicture.png" %}" id = "profilePicture">
    </div>
    <div class="row" style="margin-left : 15%; margin-right : 15%">
    <p style="color: white" align = "center"><br><br>Febriananda Wida Pramudita<br>Fasilkom UI 2017</p>

    </div>
    <div class="row" id = "socMedRow">

    <a href = "https://www.facebook.com/fwp.idn" target="_blank"><img class = "socMed" src = "https://www.uspca.com/wp-content/uploads/facebook-logo-png-white-i6.png" align = "center" id = "facebook"></a>
    <a href = "https://github.com/fwp-idn/" target="_blank"><img class = "socMed" src = "http://www.bammooboo.com/resources/images/github-icon.png" align = "center" id = "github"></a>
    </div>

  </div>
  <div class="column" id = "textSegmenthalf" style="margin: 5%">
      <img class="smallImg" src="https://alibaba.kumpar.com/kumpar/image/upload/w_200,h_200,c_fill,g_face,f_jpg,q_auto,fl_progressive,fl_lossy/estclsxccxz8ojywx4cf.jpg" alt="shs image">
      <div class="isotope-overlay" style = "margin-left: 2%; margin-bottom: 10%;text-align: center;">
            Backend Software Engineer.
      </div><!-- /.isotope-overlay -->
  </div>
  <div class="column" id = "textSegmenthalf" style="margin: 5%">
      <img class="smallImg" src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-1/p200x200/23380225_151535952245896_2380131636808703936_n.jpg?_nc_cat=109&oh=ed2aba46b752acab65a230425a333071&oe=5C5BC681" alt="shs image">
      <div class="isotope-overlay" style = "margin-left: 2%; margin-bottom: 10%; text-align: center;">
              System Engineer.
      </div><!-- /.isotope-overlay -->
  </div>
  <div class="column" id = "textSegmenthalf" style="margin: 5%">
      <img class="smallImg" src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-1/p200x200/23380225_151535952245896_2380131636808703936_n.jpg?_nc_cat=109&oh=ed2aba46b752acab65a230425a333071&oe=5C5BC681" alt="shs image">
      <div class="isotope-overlay" style = "margin-left: 2%; margin-bottom: 10%; text-align: center;">
              System Engineer.
      </div><!-- /.isotope-overlay -->
  </div>
  
</div>
</body>
</html>
