{% extends "lab_1/base.html" %}

{% block content %}
  <div id = "textSegment">
  <div class="column" id = "textSegmenthalf" style="margin: 5%">
      <img class="smallImg" src="https://alibaba.kumpar.com/kumpar/image/upload/w_200,h_200,c_fill,g_face,f_jpg,q_auto,fl_progressive,fl_lossy/estclsxccxz8ojywx4cf.jpg" alt="shs image">
      <div class="isotope-overlay" style = "margin-left: 2%; margin-bottom: 10%;text-align: center;">
            Backend Software Engineer.
      </div><!-- /.isotope-overlay -->
  </div>
  <div class="column" id = "textSegmenthalf" style="margin: 5%">
      <img class="smallImg" src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-1/p200x200/23380225_151535952245896_2380131636808703936_n.jpg?_nc_cat=109&oh=ed2aba46b752acab65a230425a333071&oe=5C5BC681" alt="shs image">
      <div class="isotope-overlay" style = "margin-left: 2%; margin-bottom: 10%; text-align: center;">
              System Engineer.
      </div><!-- /.isotope-overlay -->
  </div>
</div>
{% endblock %}
