{% extends "lab_1/base.html" %}

{% block content %}
  <div class="column" id = "textSegment">
   <h4 align="justify">Hello, My name is Febriananda Wida Pramudita, now I am studying at Fasilkom UI</h4>
  </div>
{% endblock %}

