{% extends "lab_1/base.html" %}

{% block content %}
  <div class="column" id = "textSegment">
    <div class="column" style = "word-wrap: break-word; width: 200%">
      <form>
        <fieldset>
          <legend>Register your account</legend>
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Name</label>
            <input type="text" class="form-control" placeholder="Nama" id="inputDefault">
          </div>
          <div class="form-group">
            <label for="exampleInputBirtDate1">Birthdate</label>
            <input class="form-control" type="date" value="1970-01-01" id="example-date-input">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <small id="emailHelp" class="form-text text-muted">We will keep your email secure.</small>
          </div>
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Username</label>
            <input type="text" class="form-control" placeholder="Username" id="inputDefault">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password Confirmation</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password Confirmation">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
  </div>
  </div>
{% endblock %}

