{% extends "lab_1/base.html" %}

{% block content %}
  <div class="column" id = "textSegment">
    <div class="column" style = "word-wrap: break-word; width: 200%">
      <table class="table table-hover">
        <thead>
          <tr bgcolor="#007bff">
            <th scope="col"><font color="white">Day</font></th>
            <th scope="col"><font color="white">Date</font></th>
            <th scope="col"><font color="white">Time</font></th>
            <th scope="col"><font color="white">Event</font></th>
            <th scope="col"><font color="white">Place</font></th>
            <th scope="col"><font color="white">Category</font></th>
          </tr>
        </thead>
        <tbody>
          
          {% for data in datas%}
            {% if forloop.counter|divisibleby:2 %}
              <tr class="table-primary">
            {% else %}
              <tr class="table-secondary">
            {% endif %}
                <td>{{ data.day }}</td>
                <td>{{ data.date }}</td>
                <td>{{ data.hour }}</td>
                <td>{{ data.event }}</td>
                <td>{{ data.place }}</td>
                <td>{{ data.category }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not datas %}
            <p style="text-align: center">No Schedule Found</p>
      {% endif %}
      {% if datas %}
      <form action="deleteAll" method="POST">{% csrf_token %}
        <button type="submit" class="btn btn-danger btn-lg btn-block">Delete All Schedule</button>
      </form>
      {% endif %}
      <br><br><br><br>
      <form action="" method="POST">{% csrf_token %}
        <fieldset>
          <legend>Add new schedule</legend>
          <div class="form-group">
            <label for="exampleInputBirtDate1">Date</label>
            <input class="form-control" type="date" id="example-date-input" name="date">
          </div>
          <div class="form-group">
            <label for="exampleInputBirtDate1">Time</label>
            <input class="form-control" type="time" id="example-date-input" name="time">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Event</label>
            <input type="text" class="form-control" placeholder="Event(Maksimal 100 karakter)" id="inputDefault" maxlength="100" name="event">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Place</label>
            <input type="text" class="form-control" placeholder="Tempat(Maksimal 100 karakter)" id="inputDefault" maxlength="100" name="place">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">Category</label>
            <input type="text" class="form-control" placeholder="Kategori(Maksimal 100 karakter)" id="inputDefault" maxlength="100" name="category">
          </div>
          <button type="submit" class="btn btn-primary">Add Schedule</button>
        </fieldset>
      </form>
  </div>
  </div>
{% endblock %}

